# Compiled binary executables
*.exe
*.out
*.dll
*.so
*.dylib

# Dependency directories (remove the ones you don't use)
/bin/
/pkg/
/vendor/
/go.sum

# Local configuration file
/config.yaml

# IDE files (remove the ones you don't use)
.idea/
.vscode/

# Compiled Go files
*.test
*.prof

# Database file (if SQLite is used)
*.db

# Environment variables file
.env

# Air binary executable
air

# Temporary directories created by Air
tmp/